.info-box {
    display: inline-block;
    margin-left: 16px;
    max-width: 400px;
    min-width: 350px;
    min-height: 350px;
}

.info-box > img {
    width: 100%;
    height: 300px;
    margin: 16px 0;
}

.info-box > img:hover {
    cursor: pointer;
    opacity: 0.7;
}

.info-box > h3 {
    margin: 0;
}

.info-box > small {
    font-weight: 600;
    color: #8f95b2;
}

.origin {
    font-size: 14px;
    text-align: right;
    margin-bottom: 0;
}

