.info-box {
    display: inline-block;
    max-width: 400px;
    min-width: 350px;
    min-height: 350px;
}

.info-box > span {
    float: right;
}

.info-box > img {
    width: 100%;
    height: 300px;
    margin: 16px 0;
}

.info-box > h3 {
    margin: 0;
}

.info-box > small {
    font-weight: 600;
    color: #8f95b2;
}

.origin {
    font-size: 14px;
    text-align: right;
    margin-bottom: 0;
}

.ub-ml_-4px {
    margin: auto;
}

.css-178dftq {
    fill: currentColor;
}